<ion-header>
  <ion-toolbar color="primary">
      <ion-title>Login</ion-title>

      <ion-buttons slot="start">
          <ion-button (click)="toggleMenu()" color="secondary" expand="block" fill="clear" shape="round">
              <ion-icon slot="start" name="menu"></ion-icon>
          </ion-button>
      </ion-buttons>

  </ion-toolbar>
</ion-header>



<ion-content>
  <form  #form="ngForm" (ngSubmit)="login(form)">
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input  name="email" type="email" placeholder="your@email.com" ngModel ></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
    </ion-item>

    <ion-row>
      <ion-col>
        <ion-button type="submit"  expand="block">Sign In</ion-button>
  
      </ion-col>
    </ion-row>
  </form>
</ion-content>